html{
  --color_sidebar: rgba(25,146,212,255);
  --color_project_left: rgba(240,180,41,255);
  --color_projects_background: rgba(226,232,240,255);
  --color_search_bar: rgba(226,232,240,255);
}
#branding > div > img{
  height: 40px;
  margin-left: 10px;
}
#branding > div{
  margin-top: 10px;
  font-weight: 600;
}

.sb-svg {
  filter: invert(100%);
  height: 20px;
  margin-left: 20px;
}
body{
  margin: 0px;
  display: grid;
  grid-template-columns: clamp(150px, 20%, 200px) 3.5fr;
  grid-template-rows: 100px 1fr;
  background-color: white;
}
#sidebar{
  grid-row-start: 1;
  grid-row-end: 3;
  display: grid;
  height: 100vh;
  grid-template-columns: 1fr;
  grid-template-rows: 70px 6fr;  /*branding + navigation*/

  background-color: var(--color_sidebar);
  color: white;
  font-size: 12px;
}
.sidebar-row{
  display: grid;
  grid-template-columns: 60px 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}
#navigation{
  display: grid;
  grid-template-rows: 1fr 1.5fr;
  gap: 30px;
}

/*********** HEADER ***********/

#header{
  background-color: white;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: 10px 12px 1px 10px rgba(0, 0, 0, 0.15);
  margin-bottom: 3px;
}
#h-top-left{
  display: grid;
  grid-template-columns: 20px 1fr;
  grid-template-rows: 1fr;
  gap: 10px;
  align-items: center;
  padding-left: 20px;
}

#header-img{
  height: 18px;
}
#search-box{
  background-color: var(--color_search_bar);
  border-radius: 12px;
  border: 0px;
  height: 20px;
}

#h-top-right{
  display: grid;
  grid-template-columns: 20px 20px 20px;
  grid-template-rows: 1fr;
  font-size: 14px;
  align-items: center;
  justify-content: center;
  gap: 30px;
  font-weight: 600;
}
#profile-img{
  height: 35px;
  border-radius: 50%;
}
#h-bottom-left{
  display: grid;
  grid-template-columns: 40px 1fr;
  grid-template-rows: 20px 20px;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
}
#h-bottom-left > p{
  padding-left: 50px;
}
#profile-img-big{
  grid-row-start: 1;
  grid-row-end: 3;
  height: 100%;
  border-radius: 50%;
}
#greet{
  font-size: 80%;
  font-weight: 600;
}
#profilename-big{
  font-size: 130%;
  font-weight: 600;
}
#h-bottom-right{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  padding-right: 25px;
  align-items: center;
}
button{
  height: 60%;
  background-color: var(--color_sidebar);
  border: none;
  border-radius: 30px;
  color: white;
  font-size: 11px;
  font-weight: 600;
}

/*********** MAIN CONTENTS ***********/

#main-contents{
  background-color: var(--color_projects_background);
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, 1fr);
}
#main-contents > div > h1{
  font-size: 14px;
  padding-left: 10px;
}

#projects{
  grid-row-start: 1;
  grid-row-end: 3;
}
#projects-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, );
}
.project{
  background-color: white;
  border-radius: 12px;
  margin: 10px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
  padding-left: 0px;

}
.project > div{
  margin-left: 70%;
  display: flex;
  justify-content: space-evenly;
}
.project > div > img{
  height: 20px;
}
.project > h1{
  font-size: 12px;
  margin-left: 10px;
}
.project > p{
  font-size: 12px;
  margin-left: 10px;
  margin-right: 10px;
}

#announcements{
}
#announcements-container{
  background-color: white;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  margin: 8px;
  margin-top: 12px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);
}
.announcement{
  margin-left: 15px;
  margin-right: 15px;
}
.announcement > h1{
  font-size: 11px;
}
.announcement > p{
  font-size: 12px;
}

#trending{
  display: grid;
  grid-template-rows: 35px 1fr;
}
#trending-container{
  background-color: white;
  border-radius: 12px;
  display: grid;
  margin: 8px;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, 0.15);

}
.trend-user{
  display: grid;
  grid-template-columns: 50px 1fr;
  align-items: center;
  font-size: 12px;
  padding-left: 15px;
}
.trend-user > img{
  height: 30px;
  border-radius: 50%;
}